@charset "UTF-8";




* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

header {
  display: flex;
  justify-content: center;
  height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 1100px;
  
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
   
}

nav a {
    color: #727272;
    text-decoration: none;
    padding: 15px;
    text-transform: uppercase;
    
}

nav a:hover {
    color: white;
   background-color: #49B1E2;
   transition: 0.3s;
}

.imagen {
   
    height: 670px;
}

#banner {
    display: flex;
    justify-content: center;
    background-image: url(imagens/fotos/img1.jpg);
    background-position: center;
    background-size: cover;
    height: 670px;
}

.container2 {
    display: flex;  
    flex-direction: column;
    width: 1100px;
      
}

.texto {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.texto h1 {
    color: white;
    font-size: 4.7em;
    text-shadow: 1px 1px 0px black;
    width: 350px;
}

.texto h2 {
    color: white;
    font-size: 22px;
    text-shadow: 1px 1px 0px black;
    width: 400px;
    margin-top: 25px;
    line-height: 30px;
   
}

.quadros {
    display: flex;
    height: 210px;
    color: white;
    
}

.quadro1,
.quadro2 {
    flex: 1;
    color: white;
    padding: 25px;
}

.quadro1 {
   background-color: #42B3E5;
   flex-direction: column;
}

.quadro2 {
   background-color: #0384CE;

}

.quadro3 {
   background-color: #3156A3;
   flex: 1;
   color: white;
   padding: 25px;
   
}

.banner-titulo {
    font-size: 22px;
}

.banner-texto {
      font-size: 14px;
      margin-top: 20px;
      margin-bottom: 20px;
}

.botao {
    width: 100px;
    border: 1px solid white;
    padding: 8px;
}

.quadros a {
    border: 1px solid white;
    color: white;
    display: inline-block;
    width: 100px;
    margin-top: 8px;
    padding: 8px;
    text-decoration: none;
}

.quadros a:hover {
    color: black;
    background-color: white;
    transition: 0.3s;
}

.lista {
    display: flex;
    
    
}

.lista1,
.lista2,
.lista3 {
    width: 300px;
    padding: 4px;
    list-style-type: none;
    display: flex;
    border-bottom: 1px solid rgba(128, 128, 128, 0.584);
    margin-top: 15px;
}

.lista p {
    width: 100%;
}

.numero {
   text-align: right;
}

#geral {
    display: flex;
    justify-content: center;
}

#geral section {
    flex: 2;
}

#geral aside {
    flex: 1;
}

.widget_tittle {
    margin-top: 30px;
    margin-bottom: 30px;
}

.widget_tittle_text {
    font-weight: bold;
    font-size: 22px;
}

.widget_tittle_bar {
    width: 50px;
    height: 3px;
    background-color: #42B3E5;
    margin-top: 8px;
}

.blocos1,
.blocos3,
.blocos5{
    background-color: #42B3E5;
    margin-left: 0px;
    margin-bottom: 20px;
    width: 171px;
    height: 145px;
    display: inline-block;
    
}

.blocos2,
.blocos4,
.blocos6 {
    background-color: #42B3E5;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 171px;
    height: 145px;
    display: inline-block;
}

.widget_contact {
    color: #727272;
    margin-top: 30px;
    margin-bottom: 30px;
}

.list1 {
    color: #727272;
    list-style-type: none;
    padding: 15px;
     border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-left: -15px;
    margin-bottom: 5px;
  
}

.list {
    color: #727272;
    list-style-type: none;
    padding: 15px;
    border-bottom: 1px solid gray;
    margin-left: -15px;
    margin-bottom: 5px;
}

.widget_body1 {
    display: inline-block;
}

.widget_body2 {
    display: inline-block;
    margin-left: 63px;
}

.news_data {    
    display: inline-block;
    color: white;
    background-color:  #3156A3;
    text-align: center;
    width: 90px;
    height: 30px;
    font-size: 14px;
    padding-top: 10px;
}

.news_num {
   display: inline-block;
   color: white;
   background-color: #42B3E5;
   text-align: center;
   width: 35px;
   height: 30px;
   font-size: 14px;
   padding-top: 10px;
}

.news_img1 img{ 
 width: 300px;
 height: 190px;
 margin-top: 25px;
 margin-bottom: 25px;
}

.news_text1 {
    font-weight: 800;
    width: 300px;
    font-size: 20px;
    margin-bottom: 25px;
    
}

.news_text2 {
    width: 300px;
    line-height: 25px;
    margin-bottom: 30px;
    color:  #727272;
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.895);
}

.footer_menu {
    display: flex;
    flex: 1;

}

.footer_bloco1,
.footer_bloco2,
.footer_bloco3 {
    flex: 1;
    flex-direction: column;
    padding: 20px;
    width: 326px;
    color: white;
}

.footer_bloco1 {
    background-color: #42B3E5;
}

.footer_bloco2 {
    background-color: #1086CC;
}

.footer_bloco3 {

    background-color: #4163AA;
}

.footer_fm {
    font-size: 25px;
}

.footer_text {
    margin-top: 20px;
}

.footer_area {
    display: flex;
    color: white;
}

.footer_itens {
    flex: 1;
}

.footer_title {
    margin-top: 30px;
    font-size: 20px;
}

.span1 {
    display: inline-block;
    margin-left: 150px;
    border: 1px solid rgba(255, 255, 255, 0.285);
    padding: 2px;
}

.span2 {
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.285);
    padding: 2px;
}

.footer_bar {
    border: 2px solid  #1086CC;
    width: 55px;
    margin-top: 12px;
    margin-bottom: 30px;
}

.footer_p {
    color:  #727272;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 32px;
}

.footer_contas1 {
    display: flex;
}

.footer_lista {
    color:  #727272;
    list-style-type: none;
    display: flex;
    font-size: 15px;
}

.footer_lista p {
    width: 100%;
}

.footer_num1,
.footer_num2 {
    margin-left: 22px;
}

.footer_num3 {
    margin-left: 60px;
    color: white;
}

.footer_contas2 img {
   width: 40px;
   height: 40px;
   margin-top: 30px;
}

.post_text {
    margin-bottom: 20px;
    line-height: 20px;
}


.botao_blue a {
    text-decoration: none;
    color: #7BCAEC;
}





